/*ignore the following it may or may not work*/
.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
</style>
</head>
/*ignore everything above*/

body {
	background-color: white ;
  background-size: 1900px 1000px;
  background-image: url();
 
}
h1 {
 color: Black;
	text-align: center;
 font-size: 50px;
}

ul{
 list-style-type; 44px;
 padding: 0;
 overflow: hidden;
 background-color: white; 
 border: 5px dotted;
 float: center;
 
}

p {
 color: black;
	font-family: "Impact";
	font-size: 25px;
 margin: auto;
 margin: 10px 150px 10px 150px
}
 
nav li {
	display: inline-block;
}
 
nav ul {
	text-align: left;
}
 
nav.block-element ul {
	display: block;
	margin: auto;
	width: 50%;
} 
 
ul {
	list-style-type: none;
	overflow: hidden;
	background-color: #222;
 text-align: center;
 text-align: center;
 display:flex;
 justify-content: center;
}
li {
	float: left;
}

li a {
	display: inline-block;
	color: white;
	text-align: right;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover {
	background-color: #999;
}
li{
}
li a {
display: inline-block;
color: white;
text-align: right;
padding: 25px
text-decoration: none;
}
.oneblock {
 background-color:black;
 height:300px;
 width: 100%;

}
<br>
<br>
<br>
<br>
<br>
.twoblock {
 background-color:black;
 height:200px;
 width: 100%;
}
